@import '_variables.scss';

/* RESET */
/* ESTILOS GENERALES */
/* ANIMACIÓN BOTÓN */
/* ESTILOS HEADER */
/* MENÚ ACTIVO EN CADA PÁGINA */
/* MENÚ ACTIVO EN CADA PÁGINA */
/* ESTILOS INICIO */
/* ESTILOS SERVICIOS */





* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	&::selection {
		background-color: $background-color_1;
	}
}

body {
	font-family: $font-family_1;
	color: $color_1;

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.logo {
		font-size: 25px;

		a {
			text-decoration: none;
			color: $color_2;
			transition: .3s ease-in-out;

			&:hover {
				color: $color_3;
				transition: .3s ease-in-out;
			}
		}
	}

	header {
		nav {
			ul.menuHover {
				li {
					a {
						text-decoration: none;
						color: $color_4;
						position: relative;

						&:hover {
							color: $color_2;
						}
					}

					a {
						&::after {
							content: "";
							display: block;
							margin: auto;
							height: 3px;
							width: 0;
							top: 5px;
							background: transparent;
							transition: all 0.5s;
						}
					}
				}
			}
		}

		ul.menuHover {
			li {
				>a {
					&:hover {
						&::after {
							width: 100%;
							background: $background-color_1;
						}
					}
				}
			}
		}

		li {
			>a.active-nav {
				&::after {
					width: 100%;
					background: $background-color_1;
				}
			}
		}
	}

	.activeMenu {
		a {
			color: $color_2 !important;

			&::after {
				top: 5px;
				background: transparent;
				transition: all 0.5s;
				width: 100% !important;
				background: $background-color_1 !important;
			}
		}
	}

	#inicio {
		h1 {
			@include titulos ($color_7);
			position: absolute;
			z-index: 100;
			width: 100%;
			top: 150px;
		}

		video {
			position: relative;
			width: 100%;
			object-fit: cover;
			filter: brightness(0.5);
		}
	}

	.cards-home {
		text-align: center;
		margin-top: 30px;

		.card {
			border: none;

			.card-body {
				.card-title {
					font-weight: 700;
				}

				.card-text {
					font-size: 14px;
					text-align: center;
				}
			}
		}

		i {
			font-size: 60px;
			color: $color_2;
			padding-block: 20px;
		}
	}

	#beneficios {
		font-size: 18px;
		color: $color_4;

		h2 {
			@include titulosSecundarios
		}
	}

	.textoBeneficios-1 {
		padding: 50px !important;
		background-color: $background-color_2;
		color: $color_4;

		h3 {
			font-weight: 600;
		}

		ul {
			li {
				padding-top: 30px;
			}
		}
	}

	.textoBeneficios-2 {
		background-color: $background-color_1;
		padding: 30px !important;

		ul {
			li {
				padding: 20px 0;
				color: $color_7;
			}
		}
	}

	.textoBeneficios-3 {
		background-color: $background-color_3;
		padding: 30px !important;

		ul {
			li {
				padding: 20px 0;
				color: $color_1;
			}
		}
	}

	#servicios {
		text-align: center;

		h1 {
			@include titulos ($color_1)
		}

		h2 {
			@include titulosSecundarios
		}

		h5 {
			font-weight: 600;
		}

		.btnHover {
			@include botones (none)
		}

		.card {
			.card-body {
				.card-text {
					font-size: 12px;
				}

				.estrellas {
					display: flex;
					flex-direction: row-reverse;
					gap: 10px;
					justify-content: center;
					margin-block: 30px;

					button {
						color: $color_5;
						transition: .3s ease-in-out;
						border: 0;
						background-color: initial;

						&:hover {
							cursor: pointer;
							color: $color_6;
						}

						&:nth-child(1) {
							&:hover~button {
								color: $color_6;
							}
						}

						&:nth-child(2) {
							&:hover~button {
								color: $color_6;
							}
						}

						&:nth-child(3) {
							&:hover~button {
								color: $color_6;
							}
						}

						&:nth-child(4) {
							&:hover~button {
								color: $color_6;
							}
						}

						&:nth-child(5) {
							&:hover~button {
								color: $color_6;
							}
						}
					}
				}
			
		}

	}


	/* ESTILOS PRECIOS */
	#precios {

		h1 {
			@include titulos ($color_1)
		}

		h2 {
			@include titulosSecundarios
		}

		.div-precios {
			h4 {
				font-size: 25px;
				margin-bottom: 20px;
			}

			h5 {
				font-size: 20px;
				margin-top: 20px;
			}
		}

		.precios-horario {
			background-color: $background-color_1;
			color: $color_4;
			padding: 30px;
		}

		.precios-precios {
			background-color: $background-color_4;
			padding: 30px;
			height: 100%;
		}

		.btn-precio {
			a {
				@include botones ($border-white)
			}

			margin: 66px 0;
		}

		.precios-servicios {
			width: 100% !important;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: auto;

			div {
				width: 100% !important;
				padding-block: 20px;
			}

			h5 {
				margin: 0;
			}
		}
	}

	/* ESTILOS DETALLE */
	#detalle {
		.fondo-detalle {
			background-image: url(../img/fondo-detalle.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			min-height: 450px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		h1 {
			@include titulos ($color_7)
		}

		h3 {
			font-size: 40px;
			margin-bottom: 20px;
		}

		.descripcion-detalle {
			margin-block: 20px;

			.descripcion-img {
				img {
					width: 290px;
				}
			}

			.descripcion-text {
				img {
					width: 290px;
				}

				padding: 60px;
			}
		}

		.descripcion-img {
			.img-detalle-2 {
				transform: translateY(20px);
				margin-left: 10px;
			}
		}

		.btn-detalle {
			a {
				@include botones (none)
			}
		}
	}

	#beneficios-detalle {
		margin-top: 50px;
		font-size: 18px;
		color: $color_4;
		background-color: $background-color_4;

		h2 {

			@include titulosSecundarios
		}

		.textBackground {
			background-color: $background-color_2;
			color: $color_4;
			padding: 50px;
		}
	}

	/* ESTILOS CONTACTO */
	#contacto {
		.fondo-contacto {
			background-image: url(../img/fondo-contacto.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			min-height: 450px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: $color_7;
			text-align: center;

			p {
				padding-inline: 20px;
			}
		}

		h1 {
			@include titulos ($color_7)
		}

		h3 {
			font-size: 30px;
		}

		h4 {
			font-size: 25px;
			font-weight: 600;
			margin-bottom: 10px;
		}

		h5 {
			font-size: 20px;
			font-weight: 600;
			margin-block: 10px;
		}

		.titulo-form-contacto {
			text-align: center;
			margin-bottom: 30px;
		}

		.accordion {
			.accordion-item {
				.accordion-body{
					font-size: 14px;
					color: $color_4;
				}
				.accordion-button {
					&:not(.collapsed) {
						background-color: $background-color_2;
						color: $color_3;

						&::after {
							transform: rotateX(180deg);
						}
					}

					&:focus {
						box-shadow: none;
					}

					&::after {
						font-family: "Font Awesome 5 Pro";
						content: "\f078";
						background-image: none;
					}
				}
			}
		}

		form {
			display: flex;
			flex-direction: column;

			.input-100 {
				display: flex;
				flex-direction: column;
				margin-bottom: 10px;
			}
		}

		.detalles-contacto {
			.img-contacto {
				img {
					max-height: 230px;
				}

			}
		}

		.row-nombres {
			display: flex;
			gap: 15px;
		}

		input {
			padding: 10px 0;
		}

		.text-form {
			margin-bottom: 20px;
		}

		.btn-form {
			display: flex;
			justify-content: flex-end;

			input {
				width: 200px;
				background-color: $background-color_1;
				border: none;
				color: $color_7;
			}
		}

		iframe {
			width: 100%;
		}
	}


	/* ESTILOS FOOTER */
	footer {
		background-color: $background-color_1;
		padding-block: 20px;
		color: $color_7;

		.logo {
			margin-block: 20px;

			a {
				text-decoration: none;
				color: $color_7;
			}
		}

		hr {
			border: 1px solid #EFA69740;
		}

		.footer-section {
			font-size: 14px;

			ul {
				padding: 0;

				li {
					list-style: none;
				}
			}
		}

		.contenedor-redes {
			position: relative;

			&::before {
				position: absolute;
				content: "";
				max-width: 480px;
				width: 100%;
				left: 0;
				top: 50%;
				height: 2px;
				background-color: $background-color_6;
			}

			&::after {
				position: absolute;
				content: "";
				max-width: 480px;
				width: 100%;
				right: 0;
				top: 50%;
				height: 2px;
				background-color: $background-color_6;
			}

			.redes-sociales {
				a {
					text-decoration: none;
					color: $color_7;
				}
			}
		}
	}
}


@media screen and (max-width: 1401px) {
	footer {
		.contenedor-redes {
			&::before {

				max-width: 300px !important;

			}

			&::after {

				max-width: 300px !important;

			}

		}
	}
}

@media screen and (max-width: 1201px) {
	footer {
		.contenedor-redes {
			&::before {

				max-width: 200px !important;

			}

			&::after {

				max-width: 200px !important;

			}

		}
	}
}

@media screen and (max-width: 992px) {
	footer {
		.contenedor-redes {
			&::before {

				max-width: 150px !important;

			}

			&::after {

				max-width: 150px !important;

			}

		}
	}
}

@media screen and (max-width: 757px) {


	#detalle {
		.descripcion-detalle {
			.descripcion-img {
				img {
					width: 100%;
				}
			}

			.descripcion-text {
				img {
					width: 100%;
				}
			}
		}

		.descripcion-img {
			.img-detalle-2 {
				margin: 0;
			}
		}
	}

	#contacto {
		form {
			margin-bottom: 20px;
		}
	}

	footer {
		.contenedor-redes {
			&::before {

				max-width: 60px !important;

			}

			&::after {

				max-width: 60px !important;

			}

		}
	}
}

@media screen and (max-width: 415px) {
	footer {
		.contenedor-redes {
			&::before {

				display: none;

			}

			&::after {

				display: none;

			}

		}
	}
}
}