* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: #EFA697;
}
*::selection {
  background-color: #EFA697;
}

body {
  font-family: "Poppins", sans-serif !important;
  color: #212529;
}
body img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
body .logo {
  font-size: 25px;
}
body .logo a {
  text-decoration: none;
  color: #EFA697;
  transition: 0.3s ease-in-out;
}
body .logo a:hover {
  color: #e8816c;
  transition: 0.3s ease-in-out;
}
body header {
  position: fixed;
  z-index: 101;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
body header nav ul.menuHover li a {
  text-decoration: none;
  color: #727475;
  position: relative;
}
body header nav ul.menuHover li a:hover {
  color: #EFA697;
}
body header nav ul.menuHover li a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.5s;
}
body header ul.menuHover li > a:hover::after {
  width: 100%;
  background: #EFA697;
}
body header li > a.active-nav::after {
  width: 100%;
  background: #EFA697;
}
body .activeMenu a {
  color: #EFA697 !important;
}
body .activeMenu a::after {
  top: 5px;
  background: transparent;
  transition: all 0.5s;
  width: 100% !important;
  background: #EFA697 !important;
}
body #inicio h1 {
  color: #ffffff;
  text-align: center;
  padding-block: 53px;
  font-size: 46px;
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 150px;
}
body #inicio video {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.5);
}
body .cards-home {
  text-align: center;
  margin-top: 30px;
}
body .cards-home .card {
  border: none;
}
body .cards-home .card .card-body .card-title {
  font-weight: 700;
}
body .cards-home .card .card-body .card-text {
  font-size: 14px;
  text-align: center;
}
body .cards-home i {
  font-size: 60px;
  color: #EFA697;
  padding-block: 20px;
}
body #beneficios {
  font-size: 18px;
  color: #727475;
}
body #beneficios h2 {
  text-align: center;
  padding-block: 53px;
  font-size: 46px;
  color: #212529;
}
body #beneficios .textoBeneficios-1 {
  padding: 50px !important;
  background-color: #F0E6E0;
  color: #727475;
}
body #beneficios .textoBeneficios-1 h3 {
  font-weight: 600;
}
body #beneficios .textoBeneficios-1 ul li {
  padding-top: 30px;
}
body #beneficios .textoBeneficios-2 {
  background-color: #EFA697;
  padding: 30px !important;
}
body #beneficios .textoBeneficios-2 ul li {
  padding: 20px 0;
  color: #ffffff;
}
body #beneficios .textoBeneficios-3 {
  background-color: #D8C2BE;
  padding: 30px !important;
}
body #beneficios .textoBeneficios-3 ul li {
  padding: 20px 0;
  color: #212529;
}

#servicios {
  text-align: center;
}
#servicios h1 {
  color: #212529;
  text-align: center;
  padding-block: 53px;
  font-size: 46px;
}
#servicios h2 {
  text-align: center;
  padding-block: 53px;
  font-size: 46px;
  color: #212529;
}
#servicios h5 {
  font-weight: 600;
}
#servicios .card .card-body .card-text {
  font-size: 12px;
}
#servicios .card .card-body .estrellas {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  justify-content: center;
  margin-block: 30px;
}
#servicios .card .card-body .estrellas button {
  color: #c5c5c5;
  transition: 0.3s ease-in-out;
  border: 0;
  background-color: initial;
}
#servicios .card .card-body .estrellas button:hover {
  cursor: pointer;
  color: rgb(225, 225, 57);
}
#servicios .card .card-body .estrellas button:nth-child(1):hover ~ button {
  color: rgb(225, 225, 57);
}
#servicios .card .card-body .estrellas button:nth-child(2):hover ~ button {
  color: rgb(225, 225, 57);
}
#servicios .card .card-body .estrellas button:nth-child(3):hover ~ button {
  color: rgb(225, 225, 57);
}
#servicios .card .card-body .estrellas button:nth-child(4):hover ~ button {
  color: rgb(225, 225, 57);
}
#servicios .card .card-body .estrellas button:nth-child(5):hover ~ button {
  color: rgb(225, 225, 57);
}
#servicios .card .card-body .btnHover {
  border: none;
  background-color: #EFA697;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  border-radius: 6px;
  text-decoration: none;
  padding: 12px 25px;
}
#servicios .card .card-body .btnHover::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #bd5d4a;
  border-radius: 6px;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
#servicios .card .card-body .btnHover:hover, #servicios .card .card-body .btnHover:focus, #servicios .card .card-body .btnHover:active {
  color: white;
  border-radius: 6px;
}
#servicios .card .card-body .btnHover:hover::before, #servicios .card .card-body .btnHover:focus::before, #servicios .card .card-body .btnHover:active::before {
  transform: scaleX(1);
}

.promociones {
  background-image: url(../../img/promociones.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #212529;
  padding-block: 50px;
}
.promociones h4 {
  font-size: 40px;
  font-weight: 600;
}
.promociones p {
  font-size: 18px;
  font-weight: 500;
  padding-block: 20px;
}
.promociones .btnHover {
  border: none;
  background-color: #EFA697;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  border-radius: 6px;
  text-decoration: none;
  padding: 12px 25px;
}
.promociones .btnHover::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #bd5d4a;
  border-radius: 6px;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.promociones .btnHover:hover, .promociones .btnHover:focus, .promociones .btnHover:active {
  color: white;
  border-radius: 6px;
}
.promociones .btnHover:hover::before, .promociones .btnHover:focus::before, .promociones .btnHover:active::before {
  transform: scaleX(1);
}

#precios h1 {
  color: #212529;
  text-align: center;
  padding-block: 53px;
  font-size: 46px;
}
#precios h2 {
  text-align: center;
  padding-block: 53px;
  font-size: 46px;
  color: #212529;
}
#precios .div-precios .precios-horario {
  background-color: #EFA697;
  color: #ffffff;
  padding: 30px;
}
#precios .div-precios .precios-horario h4 {
  font-size: 25px;
  margin-bottom: 20px;
}
#precios .div-precios .precios-horario h5 {
  font-size: 20px;
  margin-top: 20px;
}
#precios .div-precios .precios-horario .btn-precio {
  margin: 66px 0;
}
#precios .div-precios .precios-horario .btn-precio a {
  border: 2px solid #ffffff;
  background-color: #EFA697;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  border-radius: 6px;
  text-decoration: none;
  padding: 12px 25px;
}
#precios .div-precios .precios-horario .btn-precio a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #bd5d4a;
  border-radius: 6px;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
#precios .div-precios .precios-horario .btn-precio a:hover, #precios .div-precios .precios-horario .btn-precio a:focus, #precios .div-precios .precios-horario .btn-precio a:active {
  color: white;
  border-radius: 6px;
}
#precios .div-precios .precios-horario .btn-precio a:hover::before, #precios .div-precios .precios-horario .btn-precio a:focus::before, #precios .div-precios .precios-horario .btn-precio a:active::before {
  transform: scaleX(1);
}
#precios .precios-precios {
  background-color: #F7F4F0;
  padding: 30px;
  height: 100%;
}
#precios .precios-precios .precios-servicios {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
#precios .precios-precios .precios-servicios div {
  width: 100% !important;
  padding-block: 20px;
}
#precios .precios-precios .precios-servicios div h5 {
  margin: 0;
}

.promociones {
  background-image: url(../../img/promociones.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #212529;
  padding-block: 50px;
}
.promociones h4 {
  font-size: 40px;
  font-weight: 600;
}
.promociones p {
  font-size: 18px;
  font-weight: 500;
  padding-block: 20px;
}
.promociones .btnHover {
  border: none;
  background-color: #EFA697;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  border-radius: 6px;
  text-decoration: none;
  padding: 12px 25px;
}
.promociones .btnHover::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #bd5d4a;
  border-radius: 6px;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.promociones .btnHover:hover, .promociones .btnHover:focus, .promociones .btnHover:active {
  color: white;
  border-radius: 6px;
}
.promociones .btnHover:hover::before, .promociones .btnHover:focus::before, .promociones .btnHover:active::before {
  transform: scaleX(1);
}

#detalle .fondo-detalle {
  background-image: url(../img/fondo-detalle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#detalle .fondo-detalle h1 {
  color: #ffffff;
  text-align: center;
  padding-block: 53px;
  font-size: 46px;
}
#detalle .fondo-detalle .btn-detalle a {
  border: none;
  background-color: #EFA697;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  border-radius: 6px;
  text-decoration: none;
  padding: 12px 25px;
}
#detalle .fondo-detalle .btn-detalle a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #bd5d4a;
  border-radius: 6px;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
#detalle .fondo-detalle .btn-detalle a:hover, #detalle .fondo-detalle .btn-detalle a:focus, #detalle .fondo-detalle .btn-detalle a:active {
  color: white;
  border-radius: 6px;
}
#detalle .fondo-detalle .btn-detalle a:hover::before, #detalle .fondo-detalle .btn-detalle a:focus::before, #detalle .fondo-detalle .btn-detalle a:active::before {
  transform: scaleX(1);
}
#detalle .descripcion-detalle {
  margin-block: 20px;
}
#detalle .descripcion-detalle .descripcion-img img {
  width: 290px;
}
#detalle .descripcion-detalle .descripcion-img .img-detalle-2 {
  transform: translateY(20px);
  margin-left: 10px;
}
#detalle .descripcion-detalle .descripcion-text {
  padding: 60px;
}
#detalle .descripcion-detalle .descripcion-text img {
  width: 290px;
}
#detalle .descripcion-detalle .descripcion-text h3 {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 600;
}

#beneficios-detalle {
  margin-top: 50px;
  font-size: 18px;
  color: #727475;
  background-color: #F7F4F0;
}
#beneficios-detalle h2 {
  text-align: center;
  padding-block: 53px;
  font-size: 46px;
  color: #212529;
}
#beneficios-detalle .row .textBackground {
  background-color: #F0E6E0;
  color: #727475;
  padding: 50px;
}

#contacto .fondo-contacto {
  background-image: url(../img/fondo-contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
}
#contacto .fondo-contacto h1 {
  color: #ffffff;
  text-align: center;
  padding-block: 53px;
  font-size: 46px;
}
#contacto article .titulo-form-contacto {
  border-bottom: 1px solid #c5c5c5;
  text-align: center;
  margin-bottom: 30px;
}
#contacto article .titulo-form-contacto h3 {
  font-size: 30px;
}
#contacto article div.row form {
  display: flex;
  flex-direction: column;
}
#contacto article div.row form .text-form {
  margin-bottom: 20px;
}
#contacto article div.row form .text-form h4 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
#contacto article div.row form .row input {
  padding: 10px 0;
}
#contacto article div.row form .input-100 {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
#contacto article div.row form .input-100 input {
  padding: 10px 0;
}
#contacto article div.row form .btn-form {
  display: flex;
  justify-content: flex-end;
}
#contacto article div.row form .btn-form input {
  width: 200px;
  background-color: #EFA697;
  border: none;
  color: #ffffff;
  padding: 10px 0;
}
#contacto article div.row .detalles-contacto h4 {
  font-weight: 600;
}
#contacto article div.row .detalles-contacto .img-contacto img {
  max-height: 230px;
}
#contacto article div.row .detalles-contacto .accordion .accordion-item .accordion-body {
  font-size: 14px;
  color: #727475;
}
#contacto article div.row .detalles-contacto .accordion .accordion-item .accordion-body a {
  color: #e8816c;
  font-weight: 600;
}
#contacto article div.row .detalles-contacto .accordion .accordion-item .accordion-button:not(.collapsed) {
  background-color: #F0E6E0;
  color: #e8816c;
}
#contacto article div.row .detalles-contacto .accordion .accordion-item .accordion-button:not(.collapsed)::after {
  transform: rotateX(180deg);
}
#contacto article div.row .detalles-contacto .accordion .accordion-item .accordion-button:focus {
  box-shadow: none;
}
#contacto article div.row .detalles-contacto .accordion .accordion-item .accordion-button::after {
  font-family: "Font Awesome 5 Pro";
  content: "\f078";
  background-image: none;
}
#contacto article iframe {
  width: 100%;
}

footer {
  background-color: #EFA697;
  padding-block: 20px;
  color: #ffffff;
}
footer .logo {
  margin-block: 20px;
}
footer .logo a {
  text-decoration: none;
  color: #ffffff;
}
footer hr {
  border: 1px solid rgba(239, 166, 151, 0.2509803922);
}
footer .footer-section {
  font-size: 14px;
}
footer .footer-section ul {
  padding: 0;
}
footer .footer-section ul li {
  list-style: none;
}
footer .contenedor-redes {
  position: relative;
}
footer .contenedor-redes::before {
  position: absolute;
  content: "";
  max-width: 480px;
  width: 100%;
  left: 0;
  top: 50%;
  height: 2px;
  background-color: #ffffff;
}
footer .contenedor-redes::after {
  position: absolute;
  content: "";
  max-width: 480px;
  width: 100%;
  right: 0;
  top: 50%;
  height: 2px;
  background-color: #ffffff;
}
footer .contenedor-redes .redes-sociales a {
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 1401px) {
  footer .contenedor-redes::before {
    max-width: 300px !important;
  }
  footer .contenedor-redes::after {
    max-width: 300px !important;
  }
}
@media screen and (max-width: 1201px) {
  footer .contenedor-redes::before {
    max-width: 200px !important;
  }
  footer .contenedor-redes::after {
    max-width: 200px !important;
  }
}
@media screen and (max-width: 992px) {
  footer .contenedor-redes::before {
    max-width: 150px !important;
  }
  footer .contenedor-redes::after {
    max-width: 150px !important;
  }
}
@media screen and (max-width: 757px) {
  #detalle .descripcion-detalle .descripcion-img img {
    width: 100%;
  }
  #detalle .descripcion-detalle .descripcion-text img {
    width: 100%;
  }
  #detalle .descripcion-img .img-detalle-2 {
    margin: 0;
  }
  #contacto form {
    margin-bottom: 20px;
  }
  footer .contenedor-redes::before {
    max-width: 60px !important;
  }
  footer .contenedor-redes::after {
    max-width: 60px !important;
  }
}
@media screen and (max-width: 415px) {
  footer .contenedor-redes::before {
    display: none;
  }
  footer .contenedor-redes::after {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */