@mixin titulos ($color) {
    color: $color;
    text-align: center;
    padding-block: 53px;
    font-size: 46px;

}

@mixin titulosSecundarios{
    
	text-align: center;
	padding-block: 53px;
	font-size: 46px;
	color: #212529;

}

@mixin botones ($border){
        border: $border;
        background-color: $background-color_1;
        color: $color_7;
        display: inline-block;
        vertical-align: middle;
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        transition-property: color;
        transition-duration: 0.3s;
        border-radius: 6px;
        text-decoration: none;
        padding: 12px 25px;
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $background-color_5;
            border-radius: 6px;
            transform: scaleX(0);
            transform-origin: 0 50%;
            transition-property: transform;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
        }
        &:hover,
        &:focus,
        &:active{
            color: white;
            border-radius: 6px;
            &::before{
                transform: scaleX(1);
            }
        }
    
    }
