$color_1: #212529;
$color_2: #EFA697;
$color_3: #e8816c;
$color_4: #727475;
$color_5: #c5c5c5;
$color_6: rgb(225, 225, 57);
$color_7: #ffffff;

$font-family_1: 'Poppins',
sans-serif !important;

$background-color_1: #EFA697;
$background-color_2: #F0E6E0;
$background-color_3: #D8C2BE;
$background-color_4: #F7F4F0;
$background-color_5: #bd5d4a;
$background-color_6: #ffffff;

$border-white: 2px solid $color_7;

